html, body, tr, td, ul, li, p {
    background-color: white;
    color: black;
    font: 11px / 1.2em Verdana, Arial, Helvetica, sans-serif;
}

body{
  margin:0;
}

#page {
    width: 100%;
}

#sidebar-menu {
    float: left;
    width: 150px;
}

#content {
    left: 160px;
    width: auto;
}

ul.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    font: 10px / 1.2em bold;
}

ul.menu li {
    font: 10px / 1.2em Verdana, sans-serif;
    font-weight: bold;
}

ul.menu * a:link, ul.menu * a:visited {
    text-decoration: none;
    color: #333;
}

ul.menu * a:hover {
    color: red;
    background: #aaa;
}

ul.menu ul {
    padding: 0;
    margin: 5px;
    list-style: none;
}

table.list tr td, table.list tr th {
    vertical-align: top;
}

table.list {
    border-collapse: collapse;
    width:80%;
    border:none;
}

table.list td{
    padding: 5px;
    border-bottom:#153 solid 1px;
}

.even td {
    background-color: rgb(231,242,247);
}

.odd td {
    background-color: #fff;
}

table.list caption{
	background-color:#8ab1c2;
	color:black;
	font-weight:bold;
	font-size:14px;
	text-align: left;
	border: #153 solid 1px;
	background-image: url(../img/table_titlebar_gradient.jpg);
	background-repeat: repeat-x;
	margin-left: -1px;
	padding-top: 3px;
    	padding-right: 10px;
    	padding-bottom: 5px;
    	padding-left: 7px;
}

table.list th {
    background-color: rgb(231,242,247);
    background-image: url(../img/column_hdr_gradient.gif);
    background-repeat: repeat-x;
    font-weight: bold;
    padding-top: 4px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    text-align:left;
}

table.list a.up {
    background: url( "../img/up.png" ) left center;
    text-decoration: none;
}

table.list a.down {
    background: url( "../img/down.png" ) left center;
    text-decoration: none;
}

a img {
    border: none;
}

.clear{
clear:both;
}
label{
display:block;
float:left;
width:120px;
text-align:right;
padding-right: 10px;
}
textarea{
width:300px;
height:150px;
border: #ccc solid 1px;
}
.inputText, input[type="text"]{
width:150px;
border: #ccc solid thin;
}
.submit,input[type="submit"]{
font-weight: bold;
border: #ccc solid thin;
padding: 2px 15px;
}
