label{
    width:150px;
    display:block;
    float:left;
}
.control{
    float:left;
    display:block;
}
.clear{
    clear:both;
}

.input{
    width:300px;
    background: #ccc;
    border:#777 solid thin;
}
.area{
    height:400px;
}

.button{
    font-weight:bold;
    background:#ccc;
}