<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="listProblems" class="net.paguo.web.ListProblemsController">
        <property name="controller">
            <ref bean="failureController"/>
        </property>
    </bean>

    <bean id="listComplaints" class="net.paguo.web.ListComplaintsController">
        <property name="controller">
            <ref bean="failureController"/>
        </property>
    </bean>

    <bean id="removeComplaint" class="net.paguo.web.RemoveComplaintController" parent="listComplaints"/>
    <bean id="removeProblem" class="net.paguo.web.RemoveProblemController" parent="listProblems"/>

    <bean name="addCrash" class="net.paguo.web.ManageFailureController">
        <property name="controller">
            <ref bean="failureController"/>
        </property>
        <property name="commandClass">
            <value>net.paguo.domain.problems.NetworkProblem</value>
        </property>
        <property name="commandName">
            <value>problem</value>
        </property>
        <property name="formView">
            <value>createProblem</value>
        </property>
        <property name="successView">
            <value>list-failures</value>
        </property>
    </bean>

    <bean name="addComplaint" class="net.paguo.web.ManageComplaintController">
        <property name="controller">
            <ref bean="failureController"/>
        </property>
        <property name="referenceController">
            <ref bean="clientController"/>
        </property>
        <property name="commandClass">
            <value>net.paguo.domain.problems.ClientComplaint</value>
        </property>
        <property name="commandName">
            <value>problem</value>
        </property>
        <property name="formView">
            <value>createComplaint</value>
        </property>
        <property name="successView">
            <value>list-failures</value>
        </property>
    </bean>


    <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="interceptors">
             <list>
                 <ref bean="openSessionInViewInterceptor"/>
             </list>
        </property>
        <property name="mappings">
            <props>
                <prop key="/problems/journal.html">listProblems</prop>
                <prop key="/problems/clients-journal.html">listComplaints</prop>
                <prop key="/problems/addCrash.html">addCrash</prop>
                <prop key="/problems/addComplaint.html">addComplaint</prop>
                <prop key="/problems/removeComplaint.html">removeComplaint</prop>
                <prop key="/problems/removeProblem.html">removeProblem</prop>
            </props>
        </property>

    </bean>

    <bean name="openSessionInViewInterceptor"
          class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"><value>org.springframework.web.servlet.view.JstlView</value></property>
        <property name="prefix"><value>/WEB-INF/pages/</value></property>
        <property name="suffix"><value>.jsp</value></property>
    </bean>
</beans>